body {
   
}
.filmcontainer{
    border: 1px black solid;
    width: 100%;
}

.titel{  
    font-family: "Prata", serif;
}
.plot {
      font-family: "Prata", serif;
    font-size: large;
}

.bild {
    width: 50%;
    height: 30em;
}
.year{
    font-weight:400;
    
}
.theo{}