body{
    font-family: "Prata";
   
 
  
}
.filmwrapper2 {
  display: flex;           
  flex-wrap: wrap;         
  gap: 20px;               
  justify-content: center; 
}

.filmcontainer2{
     display: flex;
  flex-direction: column; 
  
  width: 32%;
  padding: 10px;
  
  margin-top: 10px;
  border-bottom: 1px solid black;
    

}
.titel2 span{
    font-style: italic !important; 
    font-weight:100 !important; 
    font-size: 1.8rem;
    
}
.titel2{
    font-family: "Prata",serif;
    font-weight: 550;
    font-size: 2.3em;
}
.bild2{
    width: 400px;
    height: 500px ;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.plot2{
    font-family: "Prata",serif;
    font-size: 1.2rem;
    width: 400px;
    text-align: center;
    
}
.director2{
        font-family: "Tangerine",serif;
    font-style: oblique;
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
}
@media (max-width: 900px) {
  .filmcontainer2 {
    width: 45%;
  }

  .bild2 {
    width: 100%;
    height: auto;
  }

  .plot2 {
    width: 100%;
    font-size: 1rem;
    
  }
}

@media (max-width: 600px) {
  .filmcontainer2 {
    width: 90%;
  }

  .titel2 {
    font-size: 1.8em;
  }

  .director2 {
    font-size: 1.5rem;
  }

  .bild2 {
    width: 100%;
    height: auto;
  }
}